USE [master]
GO
/****** Object:  Database [Automation]    Script Date: 9/2/2025 8:41:00 PM ******/
CREATE DATABASE [Automation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Automation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Automation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Automation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Automation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Automation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Automation]
GO
/****** Object:  Table [dbo].[ClientInsauranceRegisteration]    Script Date: 9/2/2025 8:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInsauranceRegisteration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[InsauranceID] [int] NULL,
	[Username] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[is_Active] [bit] NULL,
	[Created_on] [datetime] NULL,
	[ExpirationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientMaster]    Script Date: 9/2/2025 8:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[Created_on] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EligibilityRequest]    Script Date: 9/2/2025 8:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EligibilityRequest](
	[EligibilityId] [int] IDENTITY(1,1) NOT NULL,
	[ClinicDoctorId] [varchar](50) NULL,
	[ClinicDoctorName] [varchar](100) NULL,
	[ClinicDoctorLicense] [varchar](50) NOT NULL,
	[EmiratesId] [varchar](50) NOT NULL,
	[MobileCountryCode] [varchar](10) NOT NULL,
	[MobileNumber] [varchar](20) NOT NULL,
	[PatientFirstName] [varchar](100) NULL,
	[PatientLastName] [varchar](100) NULL,
	[ClinicLicense] [varchar](50) NOT NULL,
	[InsuranceId] [varchar](50) NOT NULL,
	[ClientID] [varchar](100) NOT NULL,
	[DepartmentName] [varchar](100) NULL,
	[SpecialityName] [varchar](100) NULL,
	[AppointmentDateTime] [datetime] NOT NULL,
	[Created_on] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EligibilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EligibilityResponse]    Script Date: 9/2/2025 8:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EligibilityResponse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EligibilityRequestID] [int] NULL,
	[Reference_No] [nvarchar](50) NULL,
	[Request_Date] [datetime] NULL,
	[Effective_From] [date] NULL,
	[Effective_To] [date] NULL,
	[Effective_At] [nvarchar](100) NULL,
	[Is_Eligible] [nvarchar](50) NULL,
	[Coverage_Details] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Emirates_ID] [nvarchar](50) NULL,
	[TPA_Member_ID] [nvarchar](100) NULL,
	[Emirates_ID_Member] [nvarchar](50) NULL,
	[DHA_Member_ID] [nvarchar](100) NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Sub_Group] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[Policy_Number] [nvarchar](50) NULL,
	[Client_Number] [nvarchar](50) NULL,
	[Policy_Authority] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsauranceMaster]    Script Date: 9/2/2025 8:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsauranceMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InsuranceCode] [varchar](50) NULL,
	[InsauranceName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadHistory]    Script Date: 9/2/2025 8:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[FileName] [varchar](255) NOT NULL,
	[FileSize] [int] NOT NULL,
	[UploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/2/2025 8:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[Created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientInsauranceRegisteration] ADD  DEFAULT ((1)) FOR [is_Active]
GO
ALTER TABLE [dbo].[ClientInsauranceRegisteration] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[ClientMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClientMaster] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[EligibilityRequest] ADD  DEFAULT (getdate()) FOR [Created_on]
GO
ALTER TABLE [dbo].[EligibilityResponse] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[InsauranceMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InsauranceMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UploadHistory] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[ClientInsauranceRegisteration]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[ClientMaster] ([ID])
GO
ALTER TABLE [dbo].[ClientInsauranceRegisteration]  WITH CHECK ADD FOREIGN KEY([InsauranceID])
REFERENCES [dbo].[InsauranceMaster] ([ID])
GO
ALTER TABLE [dbo].[EligibilityResponse]  WITH CHECK ADD FOREIGN KEY([EligibilityRequestID])
REFERENCES [dbo].[EligibilityRequest] ([EligibilityId])
GO
ALTER TABLE [dbo].[UploadHistory]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[ClientMaster] ([ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Client' OR [Role]='SuperAdmin'))
GO
USE [master]
GO
